{{ docType() }}

<html lang="fr">
    <head>
        <meta charset="utf-8">
        <title>
            {% block title %} Traducteur Abréviations Françaises {% endblock title %}
        </title>

        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        {% block meta %}{% endblock meta %}

        <!-- Le styles -->


        <link href="{{ basePath() }}/css/style.css" media="screen" rel="stylesheet" type="text/css">
        <link href="{{ basePath() }}/css/bootstrap-theme.min.css" media="screen" rel="stylesheet" type="text/css">
        <link href="{{ basePath() }}/css/bootstrap.min.css" media="screen" rel="stylesheet" type="text/css">
        <!--[if lte IE 8]>
        <link href="{{ basePath() }}/css/ie8.css" media="screen" rel="stylesheet" type="text/css">
        <![endif]-->
        <!--[if lte IE 8]>
        <link href="{{ basePath() }}/css/ie9.css" media="screen" rel="stylesheet" type="text/css">
        <![endif]-->
        {% block style %}{% endblock style %}

    </head>
    <body>
        <div class="container">
            <nav class="navbar navbar-inverse">
                <div class = "header" style="color: #ffffff; text-align: center">
                   <h2> Dictionaire d'abreviation Fusacq <img src="<?php echo $this->basePath().'/img/logo-trdt.png'?>" </h2>
                </div>
            </nav>

        </div>
        <div class="container">
            
            <div style="width: 100%; height: 380px; margin: 0 auto; text-align: center" class="jumbotron vertical-center">
				    <div style="margin-top: 50px; margin-bottom: 10px;">
				        <h3>Ajouter une abréviation avec sa traduction</h3>
				        <form class="form-inline">
				            <div class="form-group">
				                <label class="sr-only" for="abreviation">Abréviation</label>
				                <input type="text" class="form-control" id="abreviation" placeholder="Abréviation">
				            </div>
				            <div class="form-group">
				                <label class="sr-only" for="traduction">Traduction</label>
				                <input type="text" class="form-control" id="traduction" placeholder="Traduction">
				            </div>
				            <button type="submit" class="btn btn-default">Ajouter</button>
				        </form>
				    </div>
    				<a href="">Afficher le dictionaire</a>
			</div>


            <hr>
            <footer style="text-align: center">
                <p class="credits">&copy; <?php echo date('Y'); ?> Dictionnaire Fusacq Tous Droits réservés</p>
            </footer>
        </div> <!-- /container -->
        {% block inline %}{% endblock inline %}
        <!-- Scripts -->
        <script type="text/javascript" src="{{ basePath() }}/js/jquery.min.js"></script>
        <script type="text/javascript" src="{{ basePath() }}/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="{{ basePath() }}/js/respond.min.js"></script>
        <script type="text/javascript" src="{{ basePath() }}/js/html5shiv.min.js"></script>
        {% block script %}{% endblock script %}
    </body>
</html>
