{{ docType() }}
<html lang="fr">
<head>
    <meta charset="utf-8">
    <title>
        {% block title %} Portfolio {% endblock title %}
    </title>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    {% block meta %}{% endblock meta %}


    <link href="{{ basePath() }}/css/main.css" media="screen" rel="stylesheet" type="text/css">
    <!--[if lte IE 8]>
    <link href="{{ basePath() }}/css/ie8.css" media="screen" rel="stylesheet" type="text/css">
    <![endif]-->
    <!--[if lte IE 8]>
    <link href="{{ basePath() }}/css/ie9.css" media="screen" rel="stylesheet" type="text/css">
    <![endif]-->
    {% block style %}{% endblock style %}

</head>
<body>
{% block nav %}
    <nav id="nav">
        <ul class="container1">
            <li><a href="/">Accueil</a></li>
            <li><a href="/career">CV</a></li>
            <li><a href="#work">Projets</a></li>
            <li><a href="#contact">Contact</a></li>
        </ul>
    </nav>
{% endblock nav %}
<div class="container">
    {% block content %}{{ content|raw }}{% endblock content %}
    <footer id="last">
        <ul id="copyright">
            <li>&copy; Untitled. All rights reserved.</li><li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
        </ul>
    </footer>
</div> <!-- /container -->
{% block inline %}{% endblock inline %}

<!-- Scripts -->
<script type="text/javascript" src="{{ basePath() }}/js/jquery.min.js"></script>
<script type="text/javascript" src="{{ basePath() }}/js/lib/require.js"></script>
<script type="text/javascript" src="{{ basePath() }}/js/app.build.js"></script>
<script type="text/javascript" src="{{ basePath() }}/js/common.js"></script>
{% block script %}{% endblock script %}
</body>
</html>